<a href="https://colab.research.google.com/github/Isurie/Text-Classification-Module/blob/master/GetTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import os
import tweepy as tw
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving final-data-set.csv to final-data-set.csv

In [ ]:
df = pd.read_csv('final-data-set.csv', error_bad_lines=False)
df

      instance_id  ...    class
0               5  ...  Neutral
1              12  ...   Racist
2              14  ...  Neutral
3              15  ...   Racist
4              16  ...   Racist
...           ...  ...      ...
1397          316  ...  Neutral
1398          317  ...  Neutral
1399          319  ...   Racist
1400          320  ...   Racist
1401          321  ...   Racist

[1402 rows x 6 columns]

In [ ]:
consumer_key= 'eCcOHT9FzWkINeH78O2tN5Mr7'
consumer_secret= 'qlsSKiJtgTbLwC5YMEHzGvN4P2Lvygxm7EgsTSdVwTJBTLLRpL'
access_token= '715007031556448256-V9UNiZR80oypXR7D1G8ofAQObYDkOUj'
access_token_secret= '2hekp24EvWAl6khZCaxyTfVtbz2XVG4dcFO4DP8jp96Je'

In [ ]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [ ]:
# Define the search term and the date_since date as variables
search_words = "මුස්ලිම්"
date_since = "2019-11-16"

In [ ]:
# Collect tweets by keyword
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="si",
              since=date_since).items(20)

In [ ]:
L  = []
for tweet in tweets:
    L.append(tweet)
    df = pd.DataFrame(L, columns=['tweets'])
    #print(tweet.text)

df

      instance_id  ...    class
0               5  ...  Neutral
1              12  ...   Racist
2              14  ...  Neutral
3              15  ...   Racist
4              16  ...   Racist
...           ...  ...      ...
1693           60  ...      NaN
1694           61  ...      NaN
1695           62  ...      NaN
1696           63  ...      NaN
1697           64  ...      NaN

[1698 rows x 6 columns]

In [ ]:
# Collect tweets by User
status = api.user_timeline("LankadeepaNews")

L  = []
for s in status:
    tweets = s.text
    L.append(tweets)
    df = pd.DataFrame(L, columns=['tweets'])

pd.set_option('display.max_colwidth', None)    
print (df)

                                                                                                                                             tweets
0      ඔන්ලයින් ක්‍රමය යටතේ මත්පැන් ලබා දෙන්නේ නම් ඒ සඳහා මුදල් අමාත්‍යංශයේ  අනුමැතිය මත සිදු කරන බවත් මේතාක් ඒ සඳහා අනුමැ… https://t.co/iaydimDg6q
1                                                                                           ලංකාදීප අද දින පුවත් විමසුම:\n\nhttps://t.co/lZKV611JsW
2   ඇසුරුම් යන්ත්‍රය පරණ යකඩ කඩයට වික්ක ප්‍රා.මන්ත්‍රිවරුන් අත්අඩංගුවට\n#SLnews #SriLanka \n\nhttps://t.co/qsnjFSQx0Wඇසුරු… https://t.co/MHfYhRQOKt
3                  වව්නියාව නගරා සභා සභාපති අත්අංඩංගුවට\n#SLnews #SriLanka \n\nhttps://t.co/qsnjFSQx0Wවව්නියාව-නගරා-සභා-සභාපති-අත්අංඩංගුවට/1-592602
4        මහනුවර තැපැල් සේවකයෝ බෙහෙත් බෙදීමෙන් ඉවතට\n#SLnews #SriLanka \n\nhttps://t.co/qsnjFSQx0Wමහනුවර-තැපැල්-සේවකයෝ-බෙහෙත්-බෙදීමෙන්-ඉවතට/1-592603
5                                                                ත්‍රිකුණාමලයදී ධීවර දැලකට හසු වූ තල්මසා\n#SLnews #SriLanka https://t.co/RqsDObXh1Z
6         "මට හැගෙන විදියට ජනාධිපති තුමන්ගේ ක්‍රියාපිළිවෙල ධාර්මිෂ්ඨ නොවන නිසා තමයි රටට විපත් ඇතිවන්නේ" - දිලිප් වෙදආරච්චි… https://t.co/m32BuKal0G
7                                 ඇස්ට්‍රාසෙනිකා දෙවනි මාත්‍රාව ලෙස ෆයිසර් ලබාදෙන්නේද යන තීරණය නුදුරේදීම\n#SLnews #SriLanka https://t.co/XNpN3Tolec
8                                 ඇස්ට්‍රාසෙනිකා දෙවනි මාත්‍රාව ලෙස ෆයිසර් ලබාදෙන්නේද යන තීරණය නුදුරේදීම\n#SLnews #SriLanka https://t.co/dq2GnKzbwg
9                        වැඩිදුර විස්තර සදහා ලංකාදීප Online වෙත පිවිසෙන්න: https://t.co/sPzFV60XQw\n\n#Lankadeepa #SriLanka https://t.co/fzFbPSmK80
10                       වැඩිදුර විස්තර සදහා ලංකාදීප Online වෙත පිවිසෙන්න: https://t.co/sPzFV60XQw\n\n#Lankadeepa #SriLanka https://t.co/yGK3aV2V1z
11                       වැඩිදුර විස්තර සදහා ලංකාදීප Online වෙත පිවිසෙන්න: https://t.co/sPzFV60XQw\n\n#Lankadeepa #SriLanka https://t.co/zD8xLeiyJI
12                       වැඩිදුර විස්තර සදහා ලංකාදීප Online වෙත පිවිසෙන්න: https://t.co/sPzFV60XQw\n\n#Lankadeepa #SriLanka https://t.co/KL8B7Lu8Bu
13                       වැඩිදුර විස්තර සදහා ලංකාදීප Online වෙත පිවිසෙන්න: https://t.co/sPzFV60XQw\n\n#Lankadeepa #SriLanka https://t.co/9kliNhxEj1
14   ‘මන්ත්‍රීවරුන්ට වාහන ගෙන්වන්න අපි අනුමැතිය දුන්නේ නැහැ‘\n#SLnews #SriLanka \n\nhttps://t.co/UQqQqaEkdU‘මන්ත්%E2%80%8D… https://t.co/GIF6NpUGig
15   අලි, මිනිස් ගැටුමෙන් මිනිස් ජීවිත 55ක් අහිමිවේ\n#SLnews #SriLanka \n\nhttps://t.co/UQqQqaEkdUඅලි--මිනිස්-ගැටුමෙන්--මි… https://t.co/xzWKX9Mrqf
16               මාර්තුවේ සිට පී.සී.ආර් ලක්ෂ 38 කරලා\n#SLnews #SriLanka \n\nhttps://t.co/UQqQqaEkdUමාර්තුවේ--සිට--පී-සී-ආර්-ලක්ෂ-38-කරලා/101-592584
17  ‘‘වැලිගමදී ඇල්ලූ කුඩු කිලෝ 220 හරක් කටාගේ‘‘\n#SLnews #SriLanka \n\nhttps://t.co/UQqQqaEkdU‘‘වැලිගමදී-ඇල්ලූ-කුඩු-කිලෝ-2… https://t.co/PeODyGs8gp
18                 තැබෑරුම් වැසීමෙන් පාඩුව කෝටි 1500ක්\n#SLnews #SriLanka \n\nhttps://t.co/UQqQqaEkdUතැබෑරුම්-වැසීමෙන්-පාඩුව-කෝටි-1500ක්/101-592582
19                                                                                 මාළු කන්න බයවෙන්න එපා\n#SLnews #SriLanka https://t.co/exugq2MxSz

Tweet extraction using keywords

In [ ]:
import tweepy
import pandas as pd
import csv

consumer_key= 'eCcOHT9FzWkINeH78O2tN5Mr7'
consumer_secret= 'qlsSKiJtgTbLwC5YMEHzGvN4P2Lvygxm7EgsTSdVwTJBTLLRpL'
access_token= '715007031556448256-V9UNiZR80oypXR7D1G8ofAQObYDkOUj'
access_token_secret= '2hekp24EvWAl6khZCaxyTfVtbz2XVG4dcFO4DP8jp96Je'
tweetsIds = []  # the list containing the tweet ids
tweets = []  # the list containing the tweets

# load twitter id coloumn
csvfile = open('final-data-set.csv', encoding="utf-8")

# add twitter ids to a list
readCSV = csv.reader(csvfile, delimiter=',')
for row in readCSV:
    #chech whether it's an empty row
    if (row and row[1] != ''):
        tweetsIds.append(row[1])

        #print(tweetsIds)

#Search new tweets through twitter API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

# create a dataframe  to append tweets information
tweets_df = pd.DataFrame(columns=['Id', 'Text', 'Date&Time'])

for tweet in tweepy.Cursor(api.search,q='මුස්ලිම්',lang="si", tweet_mode='extended').items():
  
    #check whether ID isn't an existing one
    if (tweet.id_str not in tweetsIds):
        # create a dataframe from the existing information
        df = pd.DataFrame([[ tweet.id_str, tweet.full_text, tweet.created_at]],columns=['Id', 'Text', 'Date&Time'])

        # append it to the tweets_df
        tweets_df =  tweets_df.append(df , ignore_index=True)


#print ( tweets_df)
with open('final-data-set.csv', 'a', encoding="utf-8") as f:
    tweets_df.to_csv(f, header=f.tell() == 0)

In [ ]:
tweets_df

                     Id  ...           Date&Time
0   1405415510234132483  ... 2021-06-17 06:42:23
1   1405405069965631491  ... 2021-06-17 06:00:54
2   1405391742141038594  ... 2021-06-17 05:07:56
3   1405373879892123649  ... 2021-06-17 03:56:58
4   1405356758382481416  ... 2021-06-17 02:48:56
..                  ...  ...                 ...
90  1402988530855337991  ... 2021-06-10 13:58:26
91  1402861262233604096  ... 2021-06-10 05:32:43
92  1402819369705500672  ... 2021-06-10 02:46:15
93  1402641803694821385  ... 2021-06-09 15:00:40
94  1402633932559028227  ... 2021-06-09 14:29:23

[95 rows x 3 columns]